form(action="/api/productos" method="POST")
    div(class="mb-3")
        label(class="form-label fw-bold" for="title")="Nombre del Producto"
        input(class="form-control" name="title")
    div(class="mb-3")
        label(class="form-label fw-bold" for="price")="Precio"
        input(class="form-control" name="price")
    div(class="mb-3")
        label(class="form-label fw-bold" for="thumbnail")="Link de Imagen"
        input(class="form-control" name="thumbnail")
    div(class="col-12")
        input(class="btn btn-success" type="submit" value="Enviar")