h2(id="chat_title")="Chat"
form(id="alias_form")
    input(type="text", name="alias", placeholder="Alias")
    button(class="btn btn-success", type="submit", id="alias_submit")="Cambiar Alias"
div(class="container",id="chat_display")
form(id="textMsg_form")
    input(type="text", name="textMsg", placeholder="Mensaje", id="textMsg_inp")
    button(class="btn btn-success", type="submit", id="textMsg_submit")="Enviar"